/* 


*/
html,
body {
  margin: 0;
  height: 100%;
}
.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status_online,
.status_online::before{
    background-color: #7DDF64;    
}

.status_offline,
.status_offline::before{
    background-color: #D00000;    
}

.status_pending,
.status_pending::before{
    background-color: #FFBA08;    
}

.blinker,
.blinker::before {
  content: " ";
  margin: 15px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 auto;
  transition: all 0.3s;
}

.blinker::before {
  animation: mymove 2s infinite;
  position: absolute;
}

@-webkit-keyframes mymove {
  50% {
    transform: scale(1.5);
    opacity: 0;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
